/* Estilo do Projeto */
.login{
   width: 100%;
   height: 100vh; /* viewport - área de visualização */
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background: linear-gradient(to left, rgb(155, 13, 20), rgb(231, 139, 3));
}

.imagem_carousel{
   width: 60%;
   height: auto;
}

.imagem_album{
   width: 100%;
   height: 225px;
}

.fundo-vermelho {
   background: rgb(237, 31, 41);
}

.fundo-amarelo {
   background: rgb(252, 176, 64);
}